.lang-link {
    font-weight: 400;
    font-size: 24px;
}

.lang-link:first-child {
    text-decoration: underline;
    margin-right: 18px;
}


@media screen and (max-width: 767px) {
    .lang-link {
        font-size: 18px;
    }
}